Checks: '
modernize-*, \
bugprone-*, \
cert-*, \
cppcoreguidelines-*, \
misc-*, \
-misc-include-cleaner, \
performance-*, \
readability-*, \
-modernize-use-trailing-return-type, \
bugprone-assert-side-effect, \
bugprone-misplaced-widening-cast, \
cppcoreguidelines-pro-type-const-cast, \
misc-non-private-member-variables-in-classes, \
modernize-deprecated-headers, \
readability-function-cognitive-complexity, \
readability-function-size, \
-*'


CheckOptions:
  - key: bugprone-assert-side-effect.AssertMacros
    value: '["assert", "Expects", "Ensures"]'

  - key: bugprone-misplaced-widening-cast.CheckImplicitCasts
    value: true

  - key: cppcoreguidelines-pro-type-const-cast.StrictMode
    value: true

  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true

  - key: modernize-deprecated-headers.CheckHeaderFile
    value: true

  - key: readability-function-cognitive-complexity.Threshold
    value: 50

  - key: readability-function-cognitive-complexity.Threshold.DescribeBasicIncrements
    value: true

  - key: readability-function-size.LineThreshold
    value: 40

  - key: readability-function-size.ParameterThreshold
    value: 4



WarningsAsErrors: '*'

FormatStyle: file